# Include shared CI
include:
    - project: "epi2melabs/ci-templates"
      file: "wf-containers.yaml"

variables:
    # We'll use the single-file case for these runs
    NF_BEFORE_SCRIPT: "wget -q -O demo_data.tar.gz https://ont-exd-int-s3-euwst1-epi2me-labs.s3.amazonaws.com/wf-somatic-variation/wf-somatic-variation-demo.tar.gz && tar -xzvf demo_data.tar.gz"
    NF_PROCESS_FILES: "modules/local/wf-somatic-snv.nf"
    NF_WORKFLOW_OPTS: "--snv --sample_name SAMPLE --ubam_sort_threads 1 --ubam_map_threads 2 \
            --bam_normal wf-somatic-variation-demo/demo_normal.bam \
            --bam_tumor wf-somatic-variation-demo/demo_tumor.bam \
            --ref wf-somatic-variation-demo/GCA_000001405.15_GRCh38_no_alt_analysis_set_chr20.fna"
    CI_FLAVOUR: "new" # set to "classic" for old-style CI
    NF_IGNORE_PROCESSES: "getAllChromosomesBed,minimap2_ubam,getParams,getVersions,makeReport,summariseReads,wf_build_regions"

docker-run:
    # Exclude artifacts to speed up execution
    artifacts:
        when: always
        paths:
            - ${CI_PROJECT_NAME}
            - .nextflow.log
        exclude:
            - ${CI_PROJECT_NAME}/**/*.bam
            - ${CI_PROJECT_NAME}/**/*.cram
            - ${CI_PROJECT_NAME}/**/*.fa
            - ${CI_PROJECT_NAME}/**/*.fna
            - ${CI_PROJECT_NAME}/**/*.fasta
            - ${CI_PROJECT_NAME}/**/ref_cache/**
    # Define a 1D job matrix to inject a variable named MATRIX_NAME into
    #   the CI environment, we can use the value of MATRIX_NAME to determine
    #   which options to apply as part of the rules block below
    # NOTE There is a slightly cleaner way to define this matrix to include
    #   the variables, but it is broken when using long strings! See CW-756
    parallel:
        matrix:
            - MATRIX_NAME: [
                "wf-somatic-snv-r10-gt", "wf-somatic-snv-r10-hy",
                "snv-r10-normal_vcf", "snv-r10-som_only", "all", 
                "snv-r10", "snv-r9", "snv-r10-fail",
                "sv", "sv-full", "mod", 
                "mod-strand", "mod-args"
            ]
    rules:
        # NOTE As we're overriding the rules block for the included docker-run
        #   we must redefine this CI_COMMIT_BRANCH rule to prevent docker-run
        #   being incorrectly scheduled for "detached merge request pipelines" etc.
        - if: ($CI_COMMIT_BRANCH == null || $CI_COMMIT_BRANCH == "dev-template")
          when: never
        - if: $MATRIX_NAME == "all"
          variables:
              NF_BEFORE_SCRIPT: "wget -q -O demo_data.tar.gz https://ont-exd-int-s3-euwst1-epi2me-labs.s3.amazonaws.com/wf-somatic-variation/wf-somatic-variation-demo.tar.gz && tar -xzvf demo_data.tar.gz"
              NF_PROCESS_FILES: "modules/local/wf-somatic-snv.nf modules/local/wf-somatic-sv.nf workflows/mod.nf"
              NF_WORKFLOW_OPTS: "--sv --snv --mod --sample_name SAMPLE --ubam_sort_threads 1 --ubam_map_threads 2 \
                  --tumor_min_coverage 0 --normal_min_coverage 0 --min_sv_length 19 \
                  --bam_normal wf-somatic-variation-demo/demo_normal.bam \
                  --bam_tumor wf-somatic-variation-demo/demo_tumor.bam \
                  --ref wf-somatic-variation-demo/GCA_000001405.15_GRCh38_no_alt_analysis_set_chr20.fna"
              NF_IGNORE_PROCESSES: "annotate_classify,annotate_filter,bwa_index,lookup_clair3_model,\
                  nanomonsv_classify,nanomonsv_filter,add_missing_vars,getVariantType"

        - if: $MATRIX_NAME == "snv-r9"
          variables:
              NF_BEFORE_SCRIPT: "wget -q -O demo_data.tar.gz https://ont-exd-int-s3-euwst1-epi2me-labs.s3.amazonaws.com/wf-somatic-variation/wf-somatic-variation-demo.tar.gz && tar -xzvf demo_data.tar.gz"
              NF_PROCESS_FILES: "modules/local/wf-somatic-snv.nf"
              NF_WORKFLOW_OPTS: "--snv --sample_name SAMPLE --ubam_sort_threads 1 --ubam_map_threads 2 \
                  --tumor_min_coverage 0 --normal_min_coverage 0 \
                  --bam_normal wf-somatic-variation-demo/demo_normal.bam \
                  --bam_tumor wf-somatic-variation-demo/demo_tumor.bam \
                  --ref wf-somatic-variation-demo/GCA_000001405.15_GRCh38_no_alt_analysis_set_chr20.fna \
                  --basecaller_cfg dna_r9.4.1_e8_sup@v3.3"
              NF_IGNORE_PROCESSES: "getAllChromosomesBed,minimap2_ubam,getParams,getVersions,makeReport,summariseReads,wf_build_regions,\
                  clairs_create_fullalignment_paired_tensors_indels,clairs_create_paired_tensors_indels,clairs_merge_final_indels,\
                  clairs_merge_full_indels,clairs_merge_pileup_indels,clairs_merge_snv_and_indels,clairs_predict_full_indels,\
                  clairs_predict_pileup_indel,lookup_clair3_model,add_missing_vars,getVariantType"

        - if: $MATRIX_NAME == "snv-r10"
          variables:
              NF_BEFORE_SCRIPT: "wget -q -O demo_data.tar.gz https://ont-exd-int-s3-euwst1-epi2me-labs.s3.amazonaws.com/wf-somatic-variation/wf-somatic-variation-demo.tar.gz && tar -xzvf demo_data.tar.gz"
              NF_PROCESS_FILES: "modules/local/wf-somatic-snv.nf"
              NF_WORKFLOW_OPTS: "--snv --sample_name SAMPLE --ubam_sort_threads 1 --ubam_map_threads 2 \
                  --tumor_min_coverage 0 --normal_min_coverage 0 \
                  --bam_normal wf-somatic-variation-demo/demo_normal.bam \
                  --bam_tumor wf-somatic-variation-demo/demo_tumor.bam \
                  --ref wf-somatic-variation-demo/GCA_000001405.15_GRCh38_no_alt_analysis_set_chr20.fna"
              NF_IGNORE_PROCESSES: "getAllChromosomesBed,minimap2_ubam,getParams,getVersions,makeReport,\
                  getVariantType,summariseReads,lookup_clair3_model,clairs_merge_snv_and_indels,add_missing_vars"

        - if: $MATRIX_NAME == "snv-r10-fail"
          variables:
              NF_BEFORE_SCRIPT: "wget -q -O demo_data.tar.gz https://ont-exd-int-s3-euwst1-epi2me-labs.s3.amazonaws.com/wf-somatic-variation/wf-somatic-variation-demo.tar.gz && tar -xzvf demo_data.tar.gz"
              NF_PROCESS_FILES: "modules/local/wf-somatic-snv.nf"
              NF_WORKFLOW_OPTS: "--snv --sample_name SAMPLE --ubam_sort_threads 1 --ubam_map_threads 2 \
                  --tumor_min_coverage 40 --normal_min_coverage 40 \
                  --bam_normal wf-somatic-variation-demo/demo_normal.bam \
                  --bam_tumor wf-somatic-variation-demo/demo_tumor.bam \
                  --ref wf-somatic-variation-demo/GCA_000001405.15_GRCh38_no_alt_analysis_set_chr20.fna"
              NF_IGNORE_PROCESSES: "getAllChromosomesBed,minimap2_ubam,getParams,getVersions,makeReport,summariseReads,wf_build_regions,clairs_create_fullalignment_paired_tensors_indels,\
                  clairs_create_paired_tensors_indels,clairs_merge_final_indels,clairs_merge_full_indels,clairs_merge_pileup_indels,clairs_merge_snv_and_indels,clairs_predict_full_indels,\
                  clairs_predict_pileup_indel,lookup_clair3_model,change_count,clairs_create_fullalignment_paired_tensors,clairs_create_paired_tensors,clairs_extract_candidates,\
                  clairs_full_hap_filter,clairs_haplotag,clairs_merge_final,clairs_merge_full,clairs_merge_pileup,clairs_phase,clairs_predict_full,clairs_predict_pileup,clairs_select_het_snps,\
                  vcfStats,add_missing_vars,getVariantType"

        - if: $MATRIX_NAME == "sv"
          variables:
              NF_PROCESS_FILES: "modules/local/wf-somatic-sv.nf"
              NF_WORKFLOW_OPTS: "--sv --ubam_sort_threads 1 --ubam_map_threads 2 \
                  --tumor_min_coverage 0 --normal_min_coverage 0 --min_sv_length 19 \
                  --bam_normal wf-somatic-variation-demo/demo_normal.bam \
                  --bam_tumor wf-somatic-variation-demo/demo_tumor.bam \
                  --ref wf-somatic-variation-demo/GCA_000001405.15_GRCh38_no_alt_analysis_set_chr20.fna"
              NF_IGNORE_PROCESSES: "getAllChromosomesBed,minimap2_ubam,getParams,getVersions,makeReport,summariseReads,lookup_clair3_model,\
                  bwa_index,nanomonsv_classify,nanomonsv_filter,annotate_filter,annotate_classify"

        - if: $MATRIX_NAME == "sv-full"
          variables:
              NF_PROCESS_FILES: "modules/local/wf-somatic-sv.nf"
              NF_WORKFLOW_OPTS: "--sv --ubam_sort_threads 1 --ubam_map_threads 2 \
                  --tumor_min_coverage 0 --normal_min_coverage 0 --qv 20 --min_sv_length 19 \
                  --bam_normal wf-somatic-variation-demo/demo_normal.bam \
                  --bam_tumor wf-somatic-variation-demo/demo_tumor.bam \
                  --ref wf-somatic-variation-demo/GCA_000001405.15_GRCh38_no_alt_analysis_set_chr20.fna \
                  --classify_insert --tr_bed ./data/wf_str_repeats.bed.gz"
              NF_IGNORE_PROCESSES: "getAllChromosomesBed,minimap2_ubam,getParams,getVersions,makeReport,summariseReads,lookup_clair3_model"

        - if: $MATRIX_NAME == "snv-r10-som_only"
          variables:
              NF_BEFORE_SCRIPT: "wget -q -O demo_data.tar.gz https://ont-exd-int-s3-euwst1-epi2me-labs.s3.amazonaws.com/wf-somatic-variation/wf-somatic-variation-demo.tar.gz && tar -xzvf demo_data.tar.gz"
              NF_WORKFLOW_OPTS: "--snv --sample_name SAMPLE --ubam_sort_threads 1 --ubam_map_threads 2 \
                  --tumor_min_coverage 0 --normal_min_coverage 0 \
                  --bam_normal wf-somatic-variation-demo/demo_normal.bam \
                  --bam_tumor wf-somatic-variation-demo/demo_tumor.bam \
                  --ref wf-somatic-variation-demo/GCA_000001405.15_GRCh38_no_alt_analysis_set_chr20.fna --germline false"
              NF_IGNORE_PROCESSES: "getAllChromosomesBed,minimap2_ubam,getParams,getVersions,makeReport,summariseReads,\
                    lookup_clair3_model,clairs_select_het_snps,clairs_phase,clairs_haplotag,make_chunks,pileup_variants,\
                    aggregate_pileup_variants,select_het_snps,phase_contig,get_qual_filter,create_candidates,\
                    evaluate_candidates,aggregate_full_align_variants,merge_pileup_and_full_vars,aggregate_all_variants,\
                    add_missing_vars,getVariantType"

        - if: $MATRIX_NAME == "wf-somatic-snv-r10-gt"
          variables:
              NF_BEFORE_SCRIPT: "wget -q -O demo_data.tar.gz https://ont-exd-int-s3-euwst1-epi2me-labs.s3.amazonaws.com/wf-somatic-variation/wf-somatic-variation-demo.tar.gz && tar -xzvf demo_data.tar.gz"
              NF_WORKFLOW_OPTS: "--snv --sample_name SAMPLE --ubam_sort_threads 1 --ubam_map_threads 2 \
                  --tumor_min_coverage 0.00001 --normal_min_coverage 0.00001 \
                  --genotyping_mode_vcf https://www.nygenome.org/bioinformatics/wp-content/uploads/CancerCellLines/COLO-829-NovaSeq--COLO-829BL-NovaSeq.snv.indel.final.v6.annotated.vcf \
                  --bam_normal wf-somatic-variation-demo/demo_normal.bam \
                  --bam_tumor wf-somatic-variation-demo/demo_tumor.bam \
                  --ref wf-somatic-variation-demo/GCA_000001405.15_GRCh38_no_alt_analysis_set_chr20.fna"
              NF_IGNORE_PROCESSES: "getAllChromosomesBed,minimap2_ubam,getParams,getVersions,makeReport,summariseReads,\
                    lookup_clair3_model,clairs_select_het_snps,clairs_phase,clairs_haplotag,make_chunks,pileup_variants,\
                    aggregate_pileup_variants,select_het_snps,phase_contig,get_qual_filter,create_candidates,\
                    evaluate_candidates,aggregate_full_align_variants,merge_pileup_and_full_vars,aggregate_all_variants,\
                    add_missing_vars,getVariantType"

        - if: $MATRIX_NAME == "wf-somatic-snv-r10-hy"
          variables:
              NF_BEFORE_SCRIPT: "wget -q -O demo_data.tar.gz https://ont-exd-int-s3-euwst1-epi2me-labs.s3.amazonaws.com/wf-somatic-variation/wf-somatic-variation-demo.tar.gz && tar -xzvf demo_data.tar.gz"
              NF_WORKFLOW_OPTS: "--snv --sample_name SAMPLE --ubam_sort_threads 1 --ubam_map_threads 2 \
                  --tumor_min_coverage 0.00001 --normal_min_coverage 0.00001 \
                  --hybrid_mode_vcf https://www.nygenome.org/bioinformatics/wp-content/uploads/CancerCellLines/COLO-829-NovaSeq--COLO-829BL-NovaSeq.snv.indel.final.v6.annotated.vcf \
                  --bam_normal wf-somatic-variation-demo/demo_normal.bam \
                  --bam_tumor wf-somatic-variation-demo/demo_tumor.bam \
                  --ref wf-somatic-variation-demo/GCA_000001405.15_GRCh38_no_alt_analysis_set_chr20.fna"
              NF_IGNORE_PROCESSES: "getAllChromosomesBed,minimap2_ubam,getParams,getVersions,makeReport,summariseReads,lookup_clair3_model,\
                    clairs_select_het_snps,clairs_phase,clairs_haplotag,make_chunks,pileup_variants,aggregate_pileup_variants,select_het_snps,\
                    phase_contig,get_qual_filter,create_candidates,evaluate_candidates,aggregate_full_align_variants,merge_pileup_and_full_vars,\
                    aggregate_all_variants,add_missing_vars,getVariantType"

        - if: $MATRIX_NAME == "snv-r10-normal_vcf"
          variables:
              NF_BEFORE_SCRIPT: "wget -q -O demo_data.tar.gz https://ont-exd-int-s3-euwst1-epi2me-labs.s3.amazonaws.com/wf-somatic-variation/wf-somatic-variation-demo.tar.gz && tar -xzvf demo_data.tar.gz"
              NF_WORKFLOW_OPTS: "--snv --sample_name SAMPLE --ubam_sort_threads 1 --ubam_map_threads 2 \
                  --tumor_min_coverage 0 --normal_min_coverage 0 \
                  --bam_normal wf-somatic-variation-demo/demo_normal.bam \
                  --bam_tumor wf-somatic-variation-demo/demo_tumor.bam \
                  --ref wf-somatic-variation-demo/GCA_000001405.15_GRCh38_no_alt_analysis_set_chr20.fna \
                  --normal_vcf wf-somatic-variation-demo/normal.vcf.gz"
              NF_IGNORE_PROCESSES: "getAllChromosomesBed,minimap2_ubam,getParams,getVersions,makeReport,summariseReads,lookup_clair3_model,\
                    clairs_merge_snv_and_indels,add_missing_vars,getVariantType"

        - if: $MATRIX_NAME == "mod-args"
          variables:
              NF_BEFORE_SCRIPT: "wget -q -O demo_data.tar.gz https://ont-exd-int-s3-euwst1-epi2me-labs.s3.amazonaws.com/wf-somatic-variation/wf-somatic-variation-demo.tar.gz && tar -xzvf demo_data.tar.gz"
              NF_WORKFLOW_OPTS: "--mod --sample_name SAMPLE --ubam_sort_threads 1 --ubam_map_threads 2 \
                  --tumor_min_coverage 0 --normal_min_coverage 0 \
                  --bam_normal wf-somatic-variation-demo/demo_normal.bam \
                  --bam_tumor wf-somatic-variation-demo/demo_tumor.bam \
                  --ref wf-somatic-variation-demo/GCA_000001405.15_GRCh38_no_alt_analysis_set_chr20.fna \
                  --modkit_args '--combine-mods --combine-strands --cpg' "
              NF_PROCESS_FILES: "workflows/mod.nf"
              NF_IGNORE_PROCESSES: "getAllChromosomesBed,minimap2_ubam,getParams,getVersions,makeReport,summariseReads,lookup_clair3_model"

        - if: $MATRIX_NAME == "mod-strand"
          variables:
              NF_BEFORE_SCRIPT: "wget -q -O demo_data.tar.gz https://ont-exd-int-s3-euwst1-epi2me-labs.s3.amazonaws.com/wf-somatic-variation/wf-somatic-variation-demo.tar.gz && tar -xzvf demo_data.tar.gz"
              NF_WORKFLOW_OPTS: "--mod --sample_name SAMPLE --ubam_sort_threads 1 --ubam_map_threads 2 \
                  --tumor_min_coverage 0 --normal_min_coverage 0 --force_strand \
                  --bam_normal wf-somatic-variation-demo/demo_normal.bam \
                  --bam_tumor wf-somatic-variation-demo/demo_tumor.bam \
                  --ref wf-somatic-variation-demo/GCA_000001405.15_GRCh38_no_alt_analysis_set_chr20.fna"
              NF_PROCESS_FILES: "workflows/mod.nf"
              NF_IGNORE_PROCESSES: "getAllChromosomesBed,minimap2_ubam,getParams,getVersions,makeReport,summariseReads,lookup_clair3_model"

        - if: $MATRIX_NAME == "mod"
          variables:
              NF_BEFORE_SCRIPT: "wget -q -O demo_data.tar.gz https://ont-exd-int-s3-euwst1-epi2me-labs.s3.amazonaws.com/wf-somatic-variation/wf-somatic-variation-demo.tar.gz && tar -xzvf demo_data.tar.gz"
              NF_WORKFLOW_OPTS: "--mod --sample_name SAMPLE --ubam_sort_threads 1 --ubam_map_threads 2 \
                  --tumor_min_coverage 0 --normal_min_coverage 0 \
                  --bam_normal wf-somatic-variation-demo/demo_normal.bam \
                  --bam_tumor wf-somatic-variation-demo/demo_tumor.bam \
                  --ref wf-somatic-variation-demo/GCA_000001405.15_GRCh38_no_alt_analysis_set_chr20.fna"
              NF_PROCESS_FILES: "workflows/mod.nf"
              NF_IGNORE_PROCESSES: "getAllChromosomesBed,minimap2_ubam,getParams,getVersions,makeReport,summariseReads,lookup_clair3_model"

macos-run:
  # Let's avoid those ARM64 runners for now
  tags:
    - macos
    - x86
